/* TABLET */

@media (min-width: 768px) and (max-width: 991px) {
  #timeline ul li div {
    width: 250px;
  }
  #timeline ul li:nth-child(odd) div {
    left: -284px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
    color: #f4f4f4;
  }
  #timeline ul li div {
    width: calc(100vw - 150px);
  }
  #timeline ul li:nth-child(odd) div {
    left: 90px;
  }
}
