/* TABLET */

@media (min-width: 768px) and (max-width: 991px) {
  #timeline ul li div {
    width: 250px;
  }
  #timeline ul li:nth-child(odd) div {
    left: -284px;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  #timeline ul li {
    margin-left: 20px;
    color: #f4f4f4;
  }
  #timeline ul li div {
    width: (100vw - 100px);
  }
  #timeline ul li:nth-child(even) div {
    left: 40px;
  }
}
