@import url("https://fonts.googleapis.com/css2?family=Erica+One&family=Fascinate&family=Montserrat:wght@400;700;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

#logo {
  font-family: "Fascinate", cursive;
}

#logo img {
  height: 40px;
}

.btn {
  background: #e63946;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/* header */
#header {
  overflow: hidden;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#navbar ul {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

#navbar ul li {
  margin-left: 35px;
}
#navbar ul li:hover {
  border-bottom: 2px solid #e63946;
}

#header .showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../img/showcase.jpg) no-repeat center right/cover;
  padding: 150px 0 180px;
  text-align: left;
  color: white;
  scroll-behavior: smooth;
}

#header .showcase h1 {
  font-size: 50px;
  line-height: 1;
  font-weight: 800;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#header .showcase .container h1 span {
  font-size: 80px;
}

#header .showcase .container p {
  margin-bottom: 60px;
  margin-top: -10px;
}

#header .showcase .container a:hover {
  background-color: #8d0c17;
}

/* Products */

#produits {
  position: relative;
}

#produits h1 {
  font-size: 130px;
  background: -webkit-linear-gradient(
    rgba(51, 51, 51, 0.397) 30%,
    rgba(238, 238, 238, 0.582) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 10px;
  font-weight: 800;
  margin: 40px auto;
  position: absolute;
  z-index: -2;
  text-align: center;
  /* margin-left: 10px; */
  top: -185px;
  font-family: "Erica One", cursive;
}
#produits .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 150px;
}

#produits .container ul li img {
  margin-bottom: 10px;
  width: 250px;
  border: none;
}

#produits .container ul li:nth-child(2) {
  margin: 0 80px;
}

#produits .container ul li p {
  font-size: 1.5rem;
}

/* Section about */

#about {
  background: #333;
  color: #f4f4f4;
  margin-top: 50px;
}
#about .container div {
  text-align: center;
  padding-top: 50px;
  padding: 60px 0 300px;
}
#about .container div h2 {
  font-size: 60px;
  font-weight: bolder;
}

#cards .container ul li div img {
  height: 80px;
}

#cards .container ul li {
  position: relative;
}

#cards .container ul li div {
  width: 300px;
  height: 350px;
  background: #ffc43d;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: -250px;
}

#cards .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #003049;
}

/* section how works */
#hworks {
  margin-top: 100px;
  margin-bottom: 150px;
}
#hworks h2 {
  color: #888;
  padding-bottom: 30px;
  font-size: 2.8rem;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

#hworks .circles {
  display: flex;
  align-items: right;
  justify-content: right;
  padding-bottom: 30px;
}

#hworks .circle1 {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border: 4px solid #003049;
  position: relative;
}

#hworks .circle1::after {
  content: "";
  width: 315px;
  height: 2px;
  background: #ffc43d;
  display: block;
  position: absolute;
  top: 50%;
  margin-left: 32px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#hworks .circle2 {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 4px solid #003049;
  position: relative;
  margin-left: 32%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#hworks .circle2::after {
  content: "";
  width: 315px;
  height: 2px;
  background: #ffc43d;
  display: block;
  position: absolute;
  top: 50%;
  margin-left: 32px;
  margin-right: ;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#hworks .circle3 {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 4px solid #003049;
  position: relative;
  margin-left: 32%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#hworks ul {
  display: flex;
  margin-bottom: 80px;
}

#hworks ul li:nth-child(2) {
  margin-left: 55px;
  margin-right: 55px;
}
#hworks ul li p {
  margin-top: -25px;
}

#hworks ul li h1 {
  font-size: 6rem;
  padding: 0 5px;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  color: #ffc43d;
}

#hworks ul li h2 {
  color: #003049;
}

#hworks div .btn {
  color: #f4f4f4 !important;
}

#footer {
  background: #333;
  color: white;
  opacity: 0.8;
  margin-bottom: 0;
}

#social ul li i {
  color: white;
}

#navbar-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar-foot ul {
  display: flex;
  align-items: center;
}
#navbar-foot ul li {
  margin-right: 30px;
}
